<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Players</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-light">
<div class="container mt-5">
    <h2>All Players</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Kill Count</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="player : ${players}" th:if="${not player.getRole().equals('ADMIN')}">
                <td th:text="${player.username}"></td>
                <td th:text="${player.role}"></td>
                <td th:text="${player.killCount}"></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>
